<launch>
  <include file="$(find gps_odom)/launch/gps_odom.launch"/>

  <node pkg="gps_kf" type="gps_kf" name="gps_kf" output="screen">
    <remap from="~imu" to="/post/attitude_eskf/filtered_imu"/>
    <remap from="~gps_odom" to="/gps_odom/odometry"/>

    <!-- TF frame ids for world and body -->
    <param name="world_frame_id" type="string" value="/world"/>
    <param name="body_frame_id" type="string" value="/body"/>
  </node>

  <!-- UKF for comparison -->

  <!--<node pkg="quadrotor_ukf" type="quadrotor_ukf" name="quadrotor_ukf"-->
    <!--output="screen">-->

    <!--<rosparam file="$(find quadrotor_ukf)/config/params.yaml"/>-->

    <!--<remap from="~imu" to="/post/attitude_eskf/filtered_imu"/>-->

    <!--<remap from="~gps_odom" to="/gps_odom/odometry"/>-->

    <!--<param name="world_frame_id" type="string" value="/world"/>-->
    <!--<param name="body_frame_id" type="string" value="/body"/>-->
  <!--</node>-->

</launch>
