<launch>

  <!-- Size of ROS queue. Must be higher for faster IMUs. -->
  <arg name="queue_size" default="200"/>

  <!-- Topics to which we should subscribe -->
  <arg name="imu_topic"/>
  <arg name="laser_scan_topic"/>

  <!-- Launch the laser altimeter -->
  <node name="laser_altimeter" pkg="laser_altimeter" type="laser_altimeter"
    output="screen">
    <param name="queue_size" type="int" value="$(arg queue_size)"/>
    <param name="world_frame_id" type="string" value="/world"/>

    <remap from="~imu" to="$(arg imu_topic)"/>
    <remap from="~laser_scan" to="$(arg laser_scan_topic)"/>

    <!-- Load transforms from file -->
    <rosparam file="$(find laser_altimeter)/config/params.yml"/>
  </node>
</launch>
